@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

body {
	background: rgb(255, 255, 255);
	min-height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;

	/* background-position: center; */
	background-image: url("../src/mountain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.block {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 350px;
	width: 500px;
	height: 300px;
	
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(6px);
	/* Note: backdrop-filter has minimal browser support */
	
	border-radius: 36px;
	box-shadow: rgba(0, 0, 0, 0.087) 7px 7px 15px;

}

.time_count_blocks {
	color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 70px;
	text-shadow: rgba(0, 0, 0, 0.121) 1px 0 10px;
}

.time_count_val {
	min-width: 80px;
}

.separator {
	margin: 0 20px;
	margin-top: -7px;
}

.buttons_conteiner {
	display: flex;
}

.button:hover {
	color: rgba(255, 255, 255, 0.8);
	font-size: 25px;
}
.button {
	font-size: 20px;
	background: none;
	color: rgba(255, 255, 255, 0.65);
	border-style: hidden;
	border-width: 50px;
	text-shadow: rgba(0, 0, 0, 0.121) 1px 0 10px;
}

.buttons_block {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30px;
	min-width: 150px;
}

.change_back:hover {
	color: rgba(255, 255, 255, 0.8);
}
.change_back {
	background: none;
	border-style: hidden;
	display: flex;
	top: 1250px;
	position:absolute;
	color: rgba(255, 255, 255, 0.5);
	font-size: 20px;
}